.footercontainer{
    display: flex;
    height: 45vh;
    min-width: 100%;
    background-color: #4d4848;
    color: #f8ce10;
    bottom: 0;
    margin-top: 20px;
    margin-bottom: 0px;
    flex-direction: column;
  
      }
      .footerinside {
        margin-left: 40px;
        flex-grow: 1;
      }
      @media screen and (max-width: 600px) {
        .footerinside {
        margin-left: 5px;
        }
    }
.footerdivcss{ 
    
    color: rgb(233, 227, 227);
    background-color: #302d2d;
    width: 100vw;
    margin-bottom: 0;
    padding-bottom: 0%;
    margin-top: 20px;
    


   
    }
   
    
    .footerlink{
        text-decoration: none;
        color: rgb(212, 212, 155);
    }
    .no-bullets {
        list-style-type: none;
    
      }
      
    .padding-left{
        padding-left: 5px;
    }
    .email-color{
        color: white;
    }
    .socio-icons{
        display: flex;
        justify-content: center;
    
    }
    .socio-icons li {
        margin-right: 10px;
      }
      .a-decor {
        text-decoration: none;
      }